<form asp-controller="Home" asp-action="People">
    <label for="id">Search person by Id</label>
    <input type="number" name="id" required />
    <input type="submit" />
</form>

<form asp-controller="Home" asp-action="Planets">
    <label for="id">Search planet by Id</label>
    <input type="number" name="id" required />
    <input type="submit" />
</form>